* {
margin:0 ;
padding:0 ;
}

.container{
margin:0 auto;
padding: 20px;

}

.grid {
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 0.5fr 1fr 2fr 1fr;
grid-template-areas:
"title title"
"header header"
"sidebar content"
"footer footer";
grid-gap: 5px;
}

.title {

  grid-area: title;
}

.title h1 {

font-family: monospace;
font-size: 80px;
text-align: center;
margin-top: 20px;
text-shadow: 5px 5px grey;

}

.header {

  grid-area: header;
}


.header h2 {

font-family: monospace;
font-size: 70px;
text-align: center;
margin-top:50px;

}
.sidebar ul{

  margin-left: 10px;
  border-width: 10px;
  border-color: black;
  border-style:double;
  width: 100px;
}


.sidebar {

  grid-area: sidebar;
}


.sidebar p{

font-style: monospace;
font-size: 50px;
margin-bottom:10px;
margin-top: 10px;
margin-left: 10px;


}
.sidebar img{

  height: 100px;
  width: 200px;
  padding-top: 150px;
  padding-left: 10%

   }


.sidebar img hover{
  background-color: yellow;

}

.content {

  grid-area: content;
}

.content img{

  height: 300px;
  width: 300px;
  margin-left: 10px;
  margin-top: 10px;
  float:left;

}



.content p{
text-align: left;
font-family: monospace;
font-size: 30px;
margin-top:50px;
}



.footer {

  grid-area: footer;

  }

.footer p{

text-align: center;

}

.footer img{

  width:100%;
  height: 200px;

}



.grid div:nth-child(even) {
background-color:lightblue;
}


.grid div:nth-child(odd) {
background-image:linear-gradient(to right, #8FC876, #A8EB12);
}




}
