body {
background-color: black
}
.wrapper{
  height:400px;

}

h1 {
font-family: monospace;
color: white;
font-size: 80px;
margin-left: 50px;

}

p{
  color:white;
  font-family:monospace;
  font-size: 25px;
  margin-left: 60px;
}

.worker{
  width: 200px;
  padding-top: 100px;
  margin-top: 200px;
  float:left;
}
.workerdiv p{
  font-style: italic;
}


.button{
  margin-top: 250px;
}
