
body {
  font-size: 14px;
  background-color: white
}

.container{
 margin: 0 auto;

}


.inhoud{


}

h1 {
  background-color: grey;


}
h2 {
  background-color: beige;


}

.footer{
height: 400px;
  background-image: url(coffee.jpeg);
  background-repeat: no-repeat;
background-position: center;





}
